{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      },
      "modules": false,
      "loose": true,
      "exclude": [
        "transform-modules-commonjs", 
        "transform-regenerator", 
        "transform-async-to-generator",
        "@babel/plugin-transform-for-of"
      ]
    }],
    "@babel/preset-typescript"
  ],
  "plugins": ["./macro-plugin", "./devportal-compat-plugin"],
  "sourceType": "module"
}
